<div>
	<h2><%= @book.title %></h2>
	<hr>
	<%= link_to "Edit Book", edit_book_path %>
	<div>
		<row>
			<p><%= @book.description %></p>

		</row>
		<row>
			<%= image_tag @book.cover_url %>
		</row>
	</div>
</div>
